.Node .value {
    width: 100px;
    height: 100px;
    border: solid 1px #000;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
}

.Node .value.found {
    background-color: #000;
    color: #fff;
}
/* 
.Node .buttons {
    display: none;
}

.Node .value:active + .buttons {
    display: block;
} */
